<p class="textcolor">
<center>
    This app was designed and built by Susan Graves as part of a coding class offered by Mined Minds.<br>
    <br>
    This photo is of Susan(r) and her sister Mary(l) at Easter in 1967.
</center>
</p>
<center>
    <img class="sizeimage" align="middle" src="/img/easter2.jpg">
    </img>
</center>