<!DOCTYPE html>
<head>
    <title> 
        Magic Coin Changer 
    </title>
        <link rel ="stylesheet" href = "css/style.css">
 
        <script src="js/formvalidation.js">
        </script>

</head>
<body>
       <header>
       <p class="headerstyle" >
            Magic Coin Changer
        </p>
            <ul class="textcolor">
                <li>
                    <a href="/">
                        home
                    </a>
                </li>
                <li>
                    <a href="/about">
                        about
                    </a>
                </li>
                <li>
                    <a href="/contact">
                        contact
                    </a>
                </li>
                <li>
                    <a href="/locations">
                        location
                    </a>
                </li>
            </ul>
        </header>
         <%=yield%>
</body>
<footer data-role="footer"data position="fixed">
    <p class="textcolor">
    Copyright 2016 - <a href="http://www.susangravescpa.com"target="_blank">Susan Graves, CPA Tax & Accounting</a> - All rights reserved
    </p>
</footer>