<center>
    <img class="sizeimage" align="middle" src="/img/coins.jpg">
    </img>
</center>

<p class="textcolor">
	Welcome to the Magic Coin Changer! To get started, what is your name?
</p>

<form name = "name_form" class = "form_box" onsubmit = 'return validateForm("name_form","input_name")' method = "post" action = "/name">
	<input type="text" name="input_name">
	<input type="submit">
</form>
<p id = "error"></p>


