.textcolor{color:cornflowerblue}
li{display:inline;padding-right:1.0rem;font-size:1.50rem;}
ul{text-align:center;}
li a{color:orangered;}
body{font-family: Helvetica;}
footer p{font-size:.75rem;text-align:center;font-style: italic}
.sizeimage{height:25rem;width:25rem:}
.headerstyle{text-align:center;font-size:2.0rem;color:darkolivegreen}
